/*background*/
body {
	font-family: Arial;
	font-size: 14px;
	background-color: rgb(204, 255, 255);
}

/*Title, welcome to ____'s geemail*/
#title{
	height: 100px;
	font-family: Trebuchet MS;
	font-size: 98px;
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}
@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    
    to {
      -webkit-filter: hue-rotate(360deg);
    }
}

/*counter position*/
#inboxRow{
	padding:0px;
	width:1000px;
	position: relative;
	left:3%;
}

/*box around mail counter*/
#inbox{
	width: 15%;
	height: 20px;
	padding: 10px;
	position:relative;
	left: 10px;
	margin: 3px;
}

/*mail counter text*/
#inboxText{
	font-family: Helvetica;
	font-weight: bold;
	color: rgb(255, 255, 255);
	float: left;
	padding-right: 5px;
	padding-left: 15px;
	font-size: 20px;
}

/*number on mail counter*/
#inboxNumber{
	font-family: Helvetica;
	font-weight: bold;
	color: rgb(0, 255, 255);
	font-size: 20px;
	background-color: rgb(0, 0, 0);
	border-radius: 20px;
	padding-left: 10px;
}

/*email position*/
#emailContainer{
	width: 90%;
	position: relative;
	left: 5%;
	text-align: center;
}

/*email box*/
table{
	width:100%;
	font-family: Helvetica;
	border-spacing: 0px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255)
}

/*email header vertical spacing*/
thead tr{
	height: 5px;
}

/*from header box*/
#from{
	width:15%;
	background-color: rgb(100, 230, 250);
	border-radius:8px;
	font-size: 20px;
	color: white;
}

/*subject header box*/
#subject{
	width: 60%;
	background-color: rgb(0, 250, 230);
	border-radius:8px;
	font-size: 20px;
	color: white;
}

/*date header box*/
#date{
	width:20%;
	background-color: rgb(100, 100, 100);
	border-radius:8px;
	font-size: 20px;
	color: white;
}

/*Email select color change*/
.row:hover{
	background-color: rgb(0, 150, 150);
}